.features {
  margin: -15px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.features__item {
  margin: 15px;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 4 * 15px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 8 * 15px) / 4);
  }
}
.features__title {
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  color: $title-text-color;
  @media screen and (min-width: 768px) {
    text-align: start;
  }
}
.features__block {
  display: flex;
  border-radius: 4px;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 31px;
  background-color: $main-background-color;
}
.features__text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: $primary-text-color;
}
