.features {
  margin: -15px;
  // display: grid;
  // grid-template-columns: 25.64% 25.64% 25.64% 23.08%;
}
.features__item {
  margin: 15px;
}
// .features__item:not(:last-child) {
//   margin-right: 30px;
// }
.features__title {
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-transform: uppercase;

  color: $title-text-color;
}
.features__block {
  display: flex;
  border-radius: 4px;
  height: 120px;
  justify-content: center;
  align-items: center;

  margin-bottom: 31px;
  background-color: $main-background-color;
}
.features__text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: $primary-text-color;
}
