.footer {
  padding: 60px 0;
  background-color: $footer-background-color;
}
.footer .container {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.footer__wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    padding: 0;
  }
  // @media screen and (min-width: 1200px){}
}
.logo__studio--white {
  color: $primary-white-color;
}
.footer__address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-left: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin: 0 84px 0 0;
    align-items: flex-start;
  }
}
.address__list {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}
.address__link {
  white-space: nowrap;
  /* display: inline-block; */

  color: $primary-white-color;
}
.address__contact {
  display: inline-block;
  margin-top: 6px;
  color: $address-text-color;
  transition: color $function-transition;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.follow {
  @media screen and (min-width: 768px) {
    margin-right: 75px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.follow__title {
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;

  color: $primary-white-color;
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.follow__link {
  background-color: #ffffff1a;
  transition: background-color $function-transition;
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.follow__icon {
  fill: $primary-white-color;
}
