.header {
  display: flex;
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }
}
.header__logo {
  padding: 16px 0;
  @media screen and (min-width: 768px) {
    position: static;
    padding: 26px 0;
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    padding: 24px 0;
    margin-right: 93px;
  }
}
.logo__studio--black {
  color: $secondary-text-color;
}
.menu {
  @media screen and (max-width: 767px) {
    display: none;
  }
  &.is-open {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 48px 40px;
    overflow-y: scroll;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @media screen and (min-width: 768px) {
    position: static;
    display: flex;
    align-items: center;
  }
}
.menu__btn {
  display: flex;
  background-color: transparent;
  &.is-open {
    position: fixed;
    right: 15px;
    @media screen and (min-width: 480px) {
      right: calc((100% - 450px) / 2);
    }
    z-index: 2;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu__icon {
  fill: black;
  transition: fill $function-transition;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
.menu__btn .menu__close {
  display: none;
}
.menu__btn.is-open .menu__close {
  display: block;
}
.menu__btn.is-open .menu__burger {
  display: none;
}
.menu__links {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 86px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 305px;
  }
}
.menu__nav {
  display: block;
}
.site-nav {
  display: block;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}
.site-nav__item {
  @media screen and (min-width: 768px) {
    margin-top: 31px;
  }
  &:not(:last-child) {
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
      margin-bottom: 31px;
      margin-right: 50px;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    &:not(:last-child) {
      margin-right: 50px;
      margin-bottom: 0;
    }
  }
}
.site-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  color: $title-text-color;
  letter-spacing: 0.02em;
  transition: color $function-transition;
  &:hover,
  &:focus {
    color: $accent-color;
  }
  &--current {
    color: $accent-color;
    @media screen and (min-width: 768px) {
      &::after {
        display: block;
        position: absolute;
        bottom: 0;
        content: '';
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $accent-color;
      }
    }
  }
  @media screen and (min-width: 768px) {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    padding: 32px 0 32px 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 31px 0 32px 0;
  }
}
.header-contacts {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: column-reverse;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row-reverse;
  }
}
.header-contacts__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: 768px) {
    margin: 0;
    &:not(:last-child) {
      margin-top: 10px;
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-top: 0;
      margin-left: 29px;
    }
  }
}
.header-contacts__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: $accent-color;
}
.header-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: $primary-text-color;
}
.header-contacts__tel,
.header-contacts__mail {
  @media screen and (min-width: 768px) {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.02em;
    color: $primary-text-color;
    transition: color $function-transition;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    padding: 32px 0;
  }
}
.header-contacts__icon {
  display: none;
  @media screen and (min-width: 768px) {
    fill: currentColor;
    margin-right: 8px;
    transition: fill $function-transition;
    display: block;
    width: 14px;
    height: 14px;
  }
  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 16px;
  }
}
.header-social {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.header-social__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.header-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: $accent-color;
}
