.button {
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  letter-spacing: 0.06em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: $primary-white-color;
  background-color: $accent-color;
  transition: background-color $function-transition;
}
