.checkbox {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.checkbox__label {
  display: flex;
  font-size: 12px;
  line-height: calc(14 / 12);

  letter-spacing: 0.03em;
  align-items: center;
  color: $primary-text-color;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}
.checkbox__field {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color $function-transition, border-color $function-transition,
    outline-color $function-transition;
  outline: 2px solid transparent;
  .checkbox__input:focus + & {
    outline-color: $accent-color;
  }
  .checkbox__input:checked + & {
    border-color: $accent-color;
    background-color: $accent-color;
  }
  .checkbox__input:checked:focus + & {
    outline-color: black;
  }
}
.checkbox__icon {
  position: absolute;
  display: block;
  fill: transparent;
  .checkbox__input:checked + .checkbox__field > & {
    fill: white;
  }
}
.checkbox__link {
  margin-left: 5px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  color: $accent-color;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}
