.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $hero-background-color;
  padding: 112px 0;
  margin: 0 auto;
  max-width: 1600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/background/hero_m_480@1x.jpg');
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/background/hero_m_480@2x.jpg');
  }
  @media screen and (min-width: 768px) {
    padding: 200px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/background/hero_t_768@1x.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/background/hero_t_768@2x.jpg');
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/background/hero_d_1600@1x.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/background/hero_d_1600@2x.jpg');
    }
  }
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  letter-spacing: 0.06em;
  max-width: 650px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: $primary-white-color;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: calc(60 / 44);
  }
}
.hero__btn {
  @extend .button;
  &:hover,
  &:focus {
    background-color: $active-button-color;
  }
  &:focus {
    outline-color: $primary-white-color;
  }
}
