$primary-text-color: rgba(117, 117, 117, 1);
$secondary-text-color: #000;
$title-text-color: rgba(33, 33, 33, 1);
$address-text-color: rgba(255, 255, 255, 0.6);
$icon-color: rgba(175, 177, 184, 1);
$accent-color: rgba(33, 150, 243, 1);
$active-button-color: rgba(24, 140, 232, 1);
$primary-white-color: rgba(255, 255, 255, 1);
$main-background-color: rgba(245, 244, 250, 1);
$hero-background-color: rgba(196, 196, 196, 1);
$footer-background-color: rgba(47, 48, 58, 1);
$function-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
